body {
  background-color: #FFF;
  color: #000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header {
  height:23vh;
  display: table;
}

.header .name {
  display: table-cell;
  vertical-align: middle;
  font-size: 75px;
}

.tabIcon {
  display: inline-block;
}

.itemIcon {
  display: inline-block;
  padding-left: 5px;
}

.photo {
  border-radius: 8px;
}

.link {
  font-weight: bold;
  color: #000;
}

.link:hover, .link:focus {
  text-decoration: none;
  color: #1976D2;
}

.description {
  font-size: 17px;
  margin: 15px auto 25px auto;
  width: 85%;
}

.richContent {
  margin-top: 20px;
}

.allProjects {
  font-size: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

a.list-group-item {
  background-color: #E3F2FD;
  color: #000;
  border: 1px solid #000;
}

a.list-group-item:hover, a.list-group-item:focus {
  color: #000;
  background-color: #fff;
}

.nav-tabs {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}

.nav-tabs > li {
  float:none;
  display:inline-block;
  border: none;
}

.nav-tabs > li > a {
  color: white;
  font-size: 18px;
  color: #000;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-color: #000;
  border-bottom-color: transparent;
  color: #000;
  font-weight: bold;
}

.nav-tabs > li > a:hover {
  background-color: #fff;
  border: 1px solid #000;
}
