body {
    background-color: white;
    color: #fff;
}

.bg-1 {
    background-color: #673AB7;
}

.list-group {
    color: #fff;
}

.list-group-item {
    background-color: #673AB7;
    color: #fff;
}

a.list-group-item {
    color: #fff;
    background-color: #673AB7;
}

a.list-group-item:hover,a.list-group-item:focus {
    color: #fff;
    background-color: #311B92;
}

.btn-default:hover {
    background-color: #9575CD;
    color: white;
}

.btn-default {
    color: #fff;
    background-color: #546E7A;
    border-color: #ccc;
}

.pic {
    display: inline-block;
}

.pic2 {
    display: inline-block;
    border: 2.5px solid #fff;
}

.pic2:hover {
    border: 3px solid #fff;
}

.foot {
    float: bottom;
    color: #673AB7;
    text-align: center;
    margin-bottom: 5px;
}

.bigcat:hover {
    background-color: #311B92;
}
