body {
    background-color: #673AB7;
    color: white;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Header with my name */
.bg-1 {
    background-color: #673AB7;
    height:33vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    line-height: 100%;
    display: table
}

.name {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 75px !important;
}

.wherebutton {
  color: #673AB7;
}

/* Big categories like Who I Am etc. */
.bigcat {
  border-color: #fff;
}

/* Title color (e.g. Who I Am) */
.list-group-item {
    color: #673AB7;
}

/* Links for What I'm Working On */
a.list-group-item {
    color: #673AB7;
    background-color: #fff;
    border-color: #fff;
}

/* What I'm Working On links highlight on hover */
a.list-group-item:hover {
    color: #fff;
    background-color: #673AB7;
}

/* Icons next to each title instead of below */
.pic {
    display: inline-block;
}

.myface {
    display: inline-block;
}

.foot {
    float: bottom;
    text-align: center;
    padding-bottom, padding-top: 10px;
}
